In [76]:
from twython import TwythonStreamer
import csv
import json
import re
from textblob import TextBlob 
import pandas as pd
from pandas import DataFrame

In [77]:
def clean_tweet(tweet): 
         
        #Utility function to clean tweet text by removing links, special characters 
        # using simple regex statements. 
        
        return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", tweet).split())

In [80]:
def get_tweet_sentiment(tweet): 
    #Utility function to classify sentiment of passed tweet 
    # using textblob's sentiment method 
        
    # create TextBlob object of passed tweet text 
    analysis = TextBlob(clean_tweet(tweet)) 
    # set sentiment 
    if analysis.sentiment.polarity > 0: 
        return 'positive'
    elif analysis.sentiment.polarity == 0: 
        return 'neutral'
    else: 
        return 'negative'

In [81]:
# Filter out unwanted data
def process_tweet(tweet):
    d = {}
    d['hashtags'] = [hashtag['text'] for hashtag in tweet['entities']['hashtags']]
    d['text'] = clean_tweet(tweet['text'])
    d['user'] = tweet['user']['screen_name']
    d['user_loc'] = tweet['user']['location']
    d['date']= tweet['created_at']
    #d['sentiment'] = get_tweet_sentiment(clean_tweet['text']))
    d['sentiment'] = get_tweet_sentiment(tweet['text'])
    return d

In [82]:
# Load credentials from json file
with open("twitter_credentials.json", "r") as file:
    creds = json.load(file)

In [83]:
# Create a class that inherits TwythonStreamer
class MyStreamer(TwythonStreamer):     

    # Received data
    def on_success(self, data):

        # Only collect tweets in English
        if data['lang'] == 'en':
            tweet_data = process_tweet(data)
            self.save_to_csv(tweet_data)

    # Problem with the API
    def on_error(self, status_code, data):
        print(status_code, data)
        self.disconnect()
        
    # Save each tweet to csv file
    def save_to_csv(self, tweet):
        with open(r'saved_tweets.csv', 'a', encoding='utf-8') as file:
            writer = csv.writer(file)
            writer.writerow(list(tweet.values()))

In [84]:
# Instantiate from our streaming class
stream = MyStreamer(creds['CONSUMER_KEY'], creds['CONSUMER_SECRET'], 
                    creds['ACCESS_TOKEN'], creds['ACCESS_SECRET'])
# Start the stream

with open(r'saved_tweets.csv', 'a', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerow(['hashtags','text', 'user', 'user_loc', 'date', 'sentiment'])

topic = "BTC"

stream.statuses.filter(track='BTC')

In [3]:
import pandas as pd
from collections import Counter
import ast

tweets = pd.read_csv("saved_tweets.csv")
tweets.head()

,hashtags,text,user,user_loc,date,sentiment
0,[],Great moments in crypto,rod3000,Sydney,Tue Sep 17 01:36:31 +0000 2019,positive
1,NaN,NaN,NaN,NaN,NaN,NaN
2,[],RT Fancy a slice of 10 000 in Bitcoin We re le...,Annabelbeyerfr1,NaN,Tue Sep 17 01:36:33 +0000 2019,positive
3,NaN,NaN,NaN,NaN,NaN,NaN
4,"['brand', 'tech', 'technology', 'innovation', ...",RT on SALE brand tech technology innovation bi...,SantchiWeb,Wirral,Tue Sep 17 01:36:34 +0000 2019,neutral

In [5]:
tweets.head()

,hashtags,text,user,user_loc,date,sentiment
0,[],Great moments in crypto,rod3000,Sydney,Tue Sep 17 01:36:31 +0000 2019,positive
1,NaN,NaN,NaN,NaN,NaN,NaN
2,[],RT Fancy a slice of 10 000 in Bitcoin We re le...,Annabelbeyerfr1,NaN,Tue Sep 17 01:36:33 +0000 2019,positive
3,NaN,NaN,NaN,NaN,NaN,NaN
4,"['brand', 'tech', 'technology', 'innovation', ...",RT on SALE brand tech technology innovation bi...,SantchiWeb,Wirral,Tue Sep 17 01:36:34 +0000 2019,neutral

In [6]:
tweets2 = tweets.dropna()
tweets2.head()

,hashtags,text,user,user_loc,date,sentiment
0,[],Great moments in crypto,rod3000,Sydney,Tue Sep 17 01:36:31 +0000 2019,positive
4,"['brand', 'tech', 'technology', 'innovation', ...",RT on SALE brand tech technology innovation bi...,SantchiWeb,Wirral,Tue Sep 17 01:36:34 +0000 2019,neutral
6,[],RT A testing bug on Kraken let users buy and s...,Cryptofever5,South East Asia,Tue Sep 17 01:36:41 +0000 2019,positive
8,[],I ll sell my Bitcoin when Neveruary 1 st comes...,ClaudiwNeamtu,Denmark,Tue Sep 17 01:36:43 +0000 2019,neutral
10,[],Bitcoin s 30 Day Volatility Just Reached Its L...,CharlesLBovaird,Boston MA,Tue Sep 17 01:36:48 +0000 2019,neutral

In [59]:
print (len(list(tweets2['text'])))

765

In [102]:
fnametweets = "TWEETS2.csv"
tweets2.to_csv(fnametweets, encoding='utf-8', index=False)

In [103]:
c = tweets2.groupby('sentiment').count()
c
list(c["hashtags"])

[73, 411, 281]

In [112]:
data1 = {}
data1['negative'] = [list(c["hashtags"])[0]]
data1['neutral'] = [list(c["hashtags"])[1]]
data1['positive'] = [list(c["hashtags"])[2]]
data1

{'negative': [73], 'neutral': [411], 'positive': [281]}

In [113]:
df2 = pd.DataFrame(data1)
df2

   negative  neutral  positive
0        73      411       281

In [114]:
#To save cleaned location in CSV file
df2.to_csv("sentimentval.csv", encoding='utf-8', index=False)

In [104]:
data = {'sentiment value': list(c["hashtags"])}
df1 = DataFrame(data, columns= ['negative','neutral', 'positive'])
print (df1)

Empty DataFrame
Columns: [negative, neutral, positive]
Index: []

In [69]:
file_sentiment1 = 'sentiment1.csv'
with open(file_sentiment1, 'a') as file:
    writer = csv.writer(file)
    writer.writerow(['negative','neutral', 'positive'])
    writer.writerow(list(c["hashtags"]))

In [ ]:
df1 = pd.read_csv(file_sentiment1)
df1

In [85]:
from geopy.geocoders import Nominatim
import gmplot

geolocator = Nominatim()

C:\Users\asi40\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: Using Nominatim with the default "geopy/1.20.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  after removing the cwd from sys.path.

In [86]:
import numbers
import decimal

In [87]:
file_location = 'tweets_location.csv'
with open(file_location, 'a') as file:
    writer = csv.writer(file)
    writer.writerow(['location','latitude', 'longitude'])

In [88]:
# from geopy import geocoders  
# gn = geocoders.GeoNames(username='cmoreno2020')
# gn.geocode("Cleveland, OH", exactly_one=False)[0]

In [89]:

# Go through all tweets and add locations to 'coordinates' dictionary
coordinates = {'location': [], 'latitude': [], 'longitude': []}


for count, user_loc in enumerate(tweets2.user_loc):
    try:
        location = geolocator.geocode(user_loc)
        
        # If coordinates are found for location
        
        if isinstance(location.latitude, numbers.Number):
            #print(user_loc)
            coordinates['location'].append(user_loc)
            coordinates['latitude'].append(location.latitude)
            coordinates['longitude'].append(location.longitude)
    except:
        pass

Sydney
Wirral
South East Asia
Denmark
Boston MA
Blockchain
California, USA
New Delhi, India
New York, NY
Global
San Francisco
Panama
Sandusky, OH
Los Angeles, CA
BCH
United States
United States
Japan
blockchain
0x
Los Angeles, CA
United States
PORTUGUESA - GUANARE
Dallas, TX
Canada
nigeria
New Delhi, India
Valencia, Espa√±a
Cape Cod
United States
Montr√©al, Qu√©bec
where
Chicago, IL
Rio de Janeiro, Brazil
Los Angeles, CA
Los Angeles
Pakistan
üïäÔ∏è
Everywhere
Los Angeles, CA
California, USA
New Delhi, India
Nairobi, Kenya
Australia
SF
North Pole, AK
United States
California, USA
On Chain
Pakistan
Matter Doesn't Matter
Home
Madhya Pradesh, India
West Lawn, Chicago
Pakistan
where
Malaysia
Georgia, USA
S. Bridge
California, USA
MARS
Espa√±a
The World
Appleton, WI
Central Mississippi
Tokyo-to, Japan
Simi Valley, CA
Washington, DC
Around the World
S. Bridge
New York, USA
Georgia, USA
Lagos, Nigeria
Nairobi, Kenya
Bandungan ,Semarang Indonesia
Georgia, USA
Harrisburg, PA
temanggung
Pune
Halifax, Nova Scotia, Canada
Valencia, Espa√±a
Bandung, Indonesia
Siliguri 734003, India
Tokyo
Canada
Austin, TX
Pakistan
Pakistan
Antarctica
Here
Moon
Pakistan
earth
Sydney, NSW, Australia
Hudson Valley, NY
Jakarta Selatan, DKI Jakarta
Arizona, USA
Florida, USA
Brisbane, Queensland
Blockchain
Washington
Global
Norway
Raleigh, NC
World
Moon
Los Angeles, CA
Boston, MA
earth
Bansur, India
Thunder Bay, Ontario
Miami Beach, FL
London, England
Las Vegas, NV
Lagos, Nigeria
S√£o Paulo - Brazil
Vienna, Austria
Roseville CA
New York, USA
Gadsden, AL 35901
Earth
Gurgaon, India
Moon
internet
Earth
West Pensacola
Copperbelt, Kitwe
Vi·ªát Nam
Inglewood, CA
Bali
Blockchain
Los Angeles
Nairobi, Kenya
Yogyakarta, Indonesia
Singapore
Indonesia
Philly
Lagos, Nigeria
Australia
PA
Georgia, USA
0x
London, United Kingdom
Newport Beach, CA
Ohio, USA
Seattle, WA
Mombasa
Texas, USA
Los Angeles
Dhaka, Bangladesh
United States
üëáüèæüëáüèæüëáüèæ‚öïÔ∏è
Tokyo-to, Japan
Toronto, Ontario
Venezuela
Moon
Georgia, USA
USA
London, England
Abuja, Nigeria
Makati City, National Capital
Planet Earth
Cyber Space
Cyber Space
USA
USA
USA
USA
USA
USA
San Francisco, CA
South Africa
Florida, USA
Earth
San Francisco, CA
Brasil
Brasil
H·∫£i Ph√≤ng, Vi·ªát Nam
Canada
Maracay, Venezuela
Mooney Mooney Creek, New South Wales
Venezuela
M√©rida
Santa Monica
Earth
Indonesia
World Citizen
On Chain
USA
japan
Colorado
Bakersfield, CA
Republic of the Philippines
Toronto, Ontario
Xanadu
Nunya
Republic of the Philippines
Vancouver, Main and Broadway
Boston, MA
Toronto, Ontario
New York, USA
Corleone, Sicilia
Albuquerque
Moon
United States
Bakersfield, CA
Los Angeles, CA
Indonesia
Adelaide, South Australia
Cincinnati USA
On chain
Austin, TX
The Internet
The Internet
The Internet
Colorado, USA
PLANET EARTH
United States
World
World
World
United States
World
Buenos Aires, Mexico
New York, NY
Bangladesh
Austin, TX
United States
Bangladesh
Los Angeles, CA
The World
Tokyo-to, Japan
Baja California Sur, M√©xico
Brooklyn
Georgia, USA
Antarctica
johannesburg, south africa
INDIA TUTICORIN
Boston, MA
United States
Venezuela
Uni
INDIA TUTICORIN
Moon
Philadelphia, PA
United States
EU
Internet
Boston, MA
New York
United States
Republic of the Philippines
Êó•Êú¨
Virginia Beach, VA
Bengaluru
Virginia Beach, VA
Shermer, IL
District of Columbia, USA
C·∫ßn Th∆°, Vi·ªát Nam
Show-Me State
Kingsgate, WA
Venezuela
Atlantis
United Kingdom
Bangladesh
Los Angeles
Lucknow, Uttar Pradesh
Republic of the Philippines
United States
Australia
San Diego, CA
Ph
Georgia, USA
Merrimack, NH
Brisbane, Queensland
Lagos, Nigeria
World
Universe
Berlin, Germany
San
Kerrville, TX
Los Angeles, CA
Seoul, Republic of Korea
Dhaka, Bangladesh
Lagos, Nigeria
Washington
World
Nigeria
World
Blockchain
Dhaka
World
World
South East Asia
Bacoor Cavite, Philippines
East Region, Singapore
Republic of the Philippines
South East Asia
Brazil
Dansoman
Taipei City, Taiwan
Pakistan
Virginia Beach, VA
Tampa Bay
Georgia, USA
New York, NY
Beijing
West Virginia, USA
Blockchain
Dhaka
Green Bay, WI, USA
Alabama, USA
Irapuato
Bogot√°, D.C., Colombia
Eden
Unknown
Portland, OR
Philippines
South East Asia
Canada
Bogot√°, D.C., Colombia
Stockholm, Sweden
Boulder, CO
Ife
San Diego, CA
Brisbane, Queensland
Paradise
Hong Kong
United States
Bogot√°, D.C., Colombia
The Ringed City
Nairobi, Kenya
Nairobi, Kenya
Bulacan, Central Luzon
Chicago, IL
South East Asia
Australia
Bogot√°, D.C., Colombia
Philadelphia, PA
Middle America
Bogot√°, D.C., Colombia
Perpignan, France
Venice
Los Angeles, CA
Syria
Georgia, USA
Stanford
+2347066052228 , Nigeria
Australia
Republic of the Philippines
Czech Republic
Haridwar, Uttarakhand
Makati City, National Capital
Bogot√°, D.C., Colombia
Czech Republic
üåô Moon üåô
Bali, Indonesia
Australia
Lagos State - NIGERIA
Bogot√°, D.C., Colombia
Japan
Liberty City, Fl
Bulacan, Central Luzon
busan korea
New York, USA
‚úàÔ∏è
California, USA
Georgia, USA
Antarctica
Cebu City
Australia
United States
Republic of the Philippines
Bangladesh
Barcelona
Houston, TX
Tokyo, Japan
Nashville, Tennessee
Tokyo, Japan
New York, NY
#WolfPack
Rancho Santa Margarita
Palembang, South Sumatra
Bogot√°, D.C., Colombia
United Kingdom
New York, NY
Mackay, Queensland
Tokyo, Japan
Online
Chile
California, USA
Bogot√°, D.C., Colombia
Bangladesh
Czech Republic
United States
peru
Australia
peru
Australia
USA
NYC-ish
Portsmouth, NH
British Columbia, Canada
World
Branch, Arkansas
Australia
Seoul, Republic of Korea
London, England
Block Island, RI
worldwide
Âåó‰∫¨, ‰∏≠Âçé‰∫∫Ê∞ëÂÖ±ÂíåÂõΩ
Bathurst, New Brunswick, Canada
New York City
WorldWide
Abuja, Nigeria
Los Angeles, CA
Singapore
International
Hong Kong
Turkey
Cape Town, South Africa
Shanghai
The World
Brasil
Moon
 Berlin
London, England
Florida, USA
New York, USA
internet
Nashville, TN
Brasil
Los Angeles, CA
Crypto Island
pittsburgh
Brasil
Flynn's Arcade
new j
Los Angeles, CA
Cape Town, South Africa
Sweden
United States
www
Mariveles, Central Luzon
Virginia Beach, VA
IIT Delhi, New Delhi
Internet
Barcelona, Spain
Moon
Polska
Singapore / London
USA
The World
The World
Internet
USA
United States
England, United Kingdom
Kerrville, TX
The Earth
Matter Doesn't Matter
eua
Shambhala
Canada
The Great Pacific Northwest
Cape Town, South Africa
Mountain View, CA
Australia
Mission - San Francisco, CA
Ontario, Canada
World
World
World
Southern California
United States
Michigan, USA
Bakersfield, CA
Boston, MA
Lekitaba
New Jersey, USA
Talty, TX
Georgia, USA
South East Asia
USA
Dhaka, Bangladesh
The World
√ñsterreich
India
United States
Southern California
British Columbia, Canada
Turkey
Montr√©al, Qu√©bec
#WolfPack
New York, USA
Nowhere
Austin, Texas
Queens, NY
United States
Jakarta Capital Region
National Capital Region, Republic of the Philippines
Beverly Hills, CA
Australia
Minneapolis, MN
Online
Gloucester, England
Sydney
Georgia, USA
Washington
SF
Bangkok, Thailand
Boston
Caracas, Venezuela
Austin, TX
USA
Blockchain
Vancouver, Canada üá®üá¶
Bath
United Kingdom
Ulm Deutschland
Singapore
B·∫Øc Ninh, Vi·ªát Nam
Naples, FL
Indiana
Ireland ? üåé
Amazon HQ- Seattle Wa.
Blockchain
Chicago, IL
WORLD
ÎåÄÌïúÎØºÍµ≠ ÏÑúÏö∏
WORLD
Heaven on earth.
Earth
Friedberg, Deutschland
Diyarbakƒ±r, T√ºrkiye
Manhattan, NY
the cloud
San Francisco, CA
New York, NY
+2347066052228 , Nigeria
Atlanta, GA
Lagos, Nigeria
Republic of the Philippines
Osun, Nigeria
United States
Los Angeles, CA
Bangkok, Thailand
Singapore
Nairobi,Kenya
United Kingdom
World
Benin-City, Nigeria
World
World
World
Hollywood, FL
Michigan
California, USA
Barcelona, Espa√±a
Port Harcourt, Nigeria
Perth
Brooklyn, NY
Seattle, WA
Australia, UK
San Angelo, TX
Berlin, Germany
brasil
world
Albany NY
Bengaluru, India
Distributed
South Africa
Bengaluru, India
Seattle
Brisbane, Queensland
Anaheim, CA
World
Atlantis
Texas, USA
United States
USA
Haiti
Cambodia
United Kingdom
United States
Thailand
Mars 20-1A
New York, NY
California, USA
Toronto, Canada | üá®üá¶üáµüá∞üá´üáØ
London, England
Czech Republic
Chicago, Illinois
longview, tx
United States
Vietnam
New York, NY
London, UK
Lake Stevens, WA
The World
Bentonville, AR
6 | Van City | Gidi
Bathurst, New Brunswick, Canada
Lagos Nigeria
Georgia, USA
London,UK
Melbourne, Victoria
Panama
England, United Kingdom
Central Mississippi
United States
Nakano-ku, Tokyo
Melbourne, Australia

Nigeria
Los Angeles, CA
Berlin, Germany
Lagos, Nigeria
Kingman, AZ
DC
Texas, USA
Worldwide
London, England
California, USA
Hong Kong
Maharashtra, India
San Francisco, CA
Maharashtra, India
Denver, CO
Japan
New York, USA
Myrtle Beach, SC USA
Chicago
South Carolina, USA
Home
Hunts Point Market, Bronx
Miami, FL
Guarenas
United States
New York, New York
Australia
EMEA
Minneapolis, MN
Planet Earth
Miami
euro
Cairo
London, England
 Alabama
‰∏äÊµ∑, ‰∏≠Âçé‰∫∫Ê∞ëÂÖ±ÂíåÂõΩ
Lagos, Nigeria
San Diego
San Diego
Water
Mississauga, Ontario
Philippines
California, USA
Bakersfield, CA

In [90]:
len(coordinates['location'])

657

In [91]:
for i in range(0, len(coordinates['location'])):
     with open(file_location, 'a', encoding='utf-8') as file:
         writer = csv.writer(file)
         writer.writerow([coordinates['location'][i], coordinates['latitude'][i], coordinates['longitude'][i]])

In [96]:
user_location = pd.read_csv(file_location)
user_location1 = user_location.dropna()
len(list(user_location1["latitude"]))

657

In [95]:
#To save cleaned location in CSV file
user_location1.to_csv("twitter_loc.csv", encoding='utf-8', index=False)

In [94]:
# Instantiate and center a GoogleMapPlotter object to show our map
gmap = gmplot.GoogleMapPlotter(30, 0, 3)

# Insert points on the map passing a list of latitudes and longitudes
#gmap.heatmap(coordinates['latitude'], coordinates['longitude'], radius=20)
gmap.heatmap(list(user_location1['latitude']), list(user_location1['longitude']), radius=20)

# Save the map to html file
gmap.draw("python_heatmap.html")